{% extends "template.html" %}
{% load static %}
{% block title %}VENDEDORES{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/vendedores.css' %}">
{% endblock %}

{% block contenido %}
<body class="subpage">
    <div id="page-wrapper" class="container">
        <section id="content">
            <h2 class="text-center my-4">Lista de Vendedores</h2>
            
            <div class="table-container">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID Vendedor</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Antiguedad</th>
                            <th>Comision</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vendedor in vendedores %}
                        <tr>
                            <td>{{ vendedor.id_vendedor }}</td>
                            <td>{{ vendedor.nombre }}</td>
                            <td>{{ vendedor.correo }}</td>
                            <td>{{ vendedor.antiguedad}}</td>
                            <td>{{ vendedor.comision }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>
{% endblock %}
