{% load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    {% block extra_css %} 
    {% endblock %}
</head>
<body>

<!-- NavBar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand clover-item" href="{% url 'home' %}">CLOVER</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'dashboard_automoviles' %}">DASHBOARD AUTOMÓVILES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard_diagramas' %}">DIAGRAMAS</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MÁS OPCIONES
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'dashboard_vendedores' %}">VENDEDORES</a></li>
            <li><a class="dropdown-item" href="{% url 'dashboard_facturas' %}">FACTURAS</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'dashboard_predictivo' %}">PREDICTIVO</a></li>
            <li><a class="dropdown-item" href="{% url 'dashboard_comparador' %}">COMPARADOR</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'dashboard_oportunidades' %}">OPORTUNIDADES</a></li>
            <li><a class="dropdown-item" href="{% url 'dashboard_desiciones' %}">DESICIONES</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">DISABLED</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>

{% block contenido %} 
{% endblock %}
<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Sobre nosotros</h5>
        <p>Proporcionamos soluciones innovadoras para el análisis de automóviles y otras herramientas predictivas para la industria.</p>
      </div>
      <div class="col-md-4">
        <h5>Enlaces útiles</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'dashboard_automoviles' %}">Dashboard Automóviles</a></li>
          <li><a href="{% url 'dashboard_diagramas' %}">Diagramas</a></li>
          <li><a href="{% url 'dashboard_vendedores' %}">Vendedores</a></li>
          <li><a href="{% url 'dashboard_comparador' %}">Comparador</a></li>
          <li><a href="{% url 'dashboard_oportunidades' %}">Oportunidades</a></li>
          <li><a href="{% url 'dashboard_desiciones' %}">Desiciones</a></li>

        </ul>
      </div>
      <div class="col-md-4">
        <h5>Síguenos</h5>
        <a href="https://www.facebook.com" target="_blank">Facebook</a><br>
        <a href="https://www.twitter.com" target="_blank">Twitter</a><br>
        <a href="https://www.linkedin.com" target="_blank">LinkedIn</a><br>
        <a href="https://www.instagram.com" target="_blank">Instagram</a>
      </div>
    </div>
  </div>
</footer>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
